//FONTS
@import url("https://use.typekit.net/twp8dcg.css");
$base: 'semplicitapro', sans-serif;
$body:  'mr-eaves-modern', sans-serif;

//WEIGHTS
$thin: 100;
$light: 200;
$book: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;



//STYLES
$italic: italic;
$normal : normal;

//COLOR PALLETTE

$primary: #CDDFE5;
$secondary: #586Ba4;
$accent:#ECE8E8;
$grey: #F9F9F9;
$black: #0A2342;
$white: #ffffff;



//OVERLAYS
$deepOverlay: rgba(33, 45, 64, .25);