//FONTS
@import url("https://use.typekit.net/twp8dcg.css");
$base: 'semplicitapro', sans-serif;
$body:  'mr-eaves-modern', sans-serif;

//WEIGHTS
$thin: 100;
$light: 200;
$book: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;



//STYLES
$italic: italic;
$normal : normal;

//COLOR PALLETTE

$primary: #8CA0FF;
$primaryLight: #BBD0FF;
$secondary: #FFD6D9;
$secondaryLight: #FFEBEC;
$accent:#C8B6FF;
$accentLight: #E4D1F6;
$grey: #F9F9F9;
$black: #2F323A;
$white: #ffffff;



//OVERLAYS
$deepOverlay: rgba(33, 45, 64, .25);