.cta {
    &__footer {
        background-color: $white;
        margin: 50px auto 0px auto;
        form {
            padding: 30px 50px 30px 50px;
            color: $black !important;
            label {
                font-weight: 600;
            }
            input,
                select,
                textarea {
                    border: none;
                    border-radius: 0px;
                }
        }
    }
}

.cta__banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    &--video {
        position: absolute;
        min-width: 100%;
        max-width: 100%;
        z-index: -10;
    }
    &--content {
        z-index: 50;
    }
}