.slider {
    margin: 25px auto 40px auto;
    .service__slide {
        margin-top: 25px;
        &--img {
            width: 55px;
            height: 55px;
            margin: 0 auto;
        }
        &--content {
            font-size: 1rem;
            line-height: 1.75rem;
        }
    }
}
