//HOME

//------------ HELLO COMP ----- //
.hello {

    &__content {
        font-size: 1.75em;
        margin-top: 30px;
        line-height: 1.75em;
        text-align: left;
    }
}

.singleService {
    &__featuredImage {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        border: 1px solid red;
        width: 90%;
        margin: 0 auto;
    }
}